{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">
            <h1>Add a post:</h1>
            <p>Here you can share your recipe with other users.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.title | as_crispy_field }}
                {{ form.content | as_crispy_field }}
                {{ form.featured_image | as_crispy_field }}
                </select>
                <br>
                <button type="submit" class="btn btn-secondary"> Submit</button>
                <a href="{% url 'home' %}" role="button" class="btn btn-secondary">Go back</a>
            </form>
        </div>
    </div>
    <br>
</div>

{% endblock %}