{% extends 'base.html' %} {% block content %}

{% load crispy_forms_tags %}


<div class="container">
    <div class="row">
        <div class="col">
            <!-- Post title goes in these h1 tags -->
            <h1 class="post-title">{{ post.title }}</h1>
            <!-- Post author goes before the | the post's created date goes after -->
            <p class="post-subtitle">{{ post.author }} | {{ post.created_on }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-6 card">
            <div class="card-body">
                <!-- The post content goes inside the card-text. -->
                <!-- Use the | safe filter inside the template tags -->
                <p class="card-text ">
                    {{ post.content | safe }}
                </p>
                <div class="row">
                    <div class="container mt-5">
                        <strong>
                            {% if user.is_authenticated %}
                            <form class="d-inline" action="{% url 'likes' post.slug %}" method="POST">
                                {% csrf_token %}
                                {% if liked %}
                                <button type="submit" name="blogpost_id" value="{{post.slug}}" class="btn-like"><i
                                        class="fas fa-heart"></i></button>
                                {% else %}
                                <button type="submit" name="blogpost_id" value="{{post.slug}}" class="btn-like"><i
                                        class="far fa-heart"></i></button>
                                {% endif %}
                            </form>
                            {% else %}
                            <span class="text-secondary"><i class="far fa-heart"></i></span>
                            {% endif %}
                            <!-- The number of likes goes before the closing strong tag -->
                            <span class="text-secondary">{{ post.number_of_likes }} </span>
                        </strong>
                    </div>
                    <div class="col">
                        <strong>
                            {% if user.is_authenticated %}
                            <form class="d-inline" action="{% url 'dislikes' post.slug %}" method="POST">
                                {% csrf_token %}
                                {% if disliked %}
                                <button type="submit" name="blogpost_id" value="{{post.slug}}" class="btn-dislike"><i
                                        class="fas fa-thumbs-down"></i></button>
                                {% else %}
                                <button type="submit" name="blogpost_id" value="{{post.slug}}" class="btn-dislike"><i
                                        class="fas fa-thumbs-down"></i></button>
                                {% endif %}
                            </form>
                            {% else %}
                            <span class="text-secondary"><i class="fas fa-thumbs-down"></i></span>
                            {% endif %}
                            <!-- The number of dislikes goes before the closing strong tag -->
                            <span class="text-secondary">{{ post.number_of_dislikes }} </span>
                        </strong>
                    </div>
                    <br>
                    <div class="col">
                        {% with comments.count as total_comments %}
                        <strong class="text-secondary"><i class="far fa-comments"></i>
                            <!-- Our total_comments variable goes before the closing strong tag -->
                            {{ total_comments }}</strong>
                        {% endwith %}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <!-- The featured image URL goes in the src attribute -->
            {% if "placeholder" in post.featured_image.url %}
            <img src="https://res.cloudinary.com/dwfsh0lgy/image/upload/v1673638074/Foodie/pexels-chan-walrus-958545_tollq2.jpg"
                class="img-thumbnail" alt="spice market">
            {% else %}
            <img src=" {{ post.featured_image.url }}" class="img-thumbnail" alt="user has uploaded a custom image">
            {% endif %}
        </div>
        <!-- Authors can edit or delete their own posts -->
        {% if request.user == post.author %}
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <div class="btn-group">
                        <!-- Button for post update -->
                        <a href="{% url 'update_post' post.slug %}" class="btn btn-secondary">
                            <i class="fa fa-edit"></i> Edit post</a>
                    </div>
                    <div class="btn-group">
                        <!-- Button for deletion-->
                        <a href="{% url 'delete_post' post.slug %}" class="btn btn-secondary">
                            <i class="far fa-trash-alt"></i> Delete post</a>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
    <div class="row">
        <div class="col">
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 card mb-4  mt-3 ">
            <h3>Comments:</h3>
            <div class="card-body">
                <!-- We want a for loop inside the tags to iterate through each comment in comments -->
                {% for comment in comments %}
                <div class="comments" style="padding: 10px;">
                    <p class="font-weight-bold">
                        <!-- The commenter's name goes here. Check the model if you're not sure what that is -->
                        {{ comment.name }}
                        <span class=" text-muted font-weight-normal">
                            <!-- The comment's created date goes here -->
                            {{ comment.created_on }}
                        </span> wrote:
                    </p>
                    <!-- The body of the comment goes before the | -->
                    {{ comment.body | linebreaks }}
                </div>
                <!-- Our for loop ends here -->
                {% endfor %}
            </div>
        </div>
        <div class="col-md-4 card mb-4  mt-3 ">
            <div class="card-body">
                <!-- For later -->
                {% if commented %}
                <div class="alert alert-success" role="alert">
                    Your comment is awaiting approval
                </div>
                {% else %}
                {% if user.is_authenticated %}

                <h3>Leave a comment:</h3>
                <p>Posting as: {{ user.username }}</p>
                <form method="post" style="margin-top: 1.3em;">
                    {{ comment_form | crispy }}
                    {% csrf_token %}
                    <br>
                    <button type="submit" class="btn btn-secondary">Submit</button>
                </form>

                {% endif %}
                {% endif %}

            </div>
        </div>
    </div>
</div>

{% endblock content %}